/* Setting main container */
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
}

/* Overwriting Bootstrap's .row, col-md-6 and col-md-12 classes's padding and margin */
.col-md-12, .col-md-6, .col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Top and bottom bars */
.top-bar, .bottom-bar {
    background-color: #696969;
}

.top-bar {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.bottom-bar {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
}

.file-info {
    margin-left: 10px;
}

.curr-date {
    margin-right: 10px;
}

/* Overwriting the height setting of CodeMirror class */
.CodeMirror {
    height: 524px;
}

/* Themes dropdown styling */
.dropdown {
    display: inline;
}

.dropdown-menu {
    height: 200px;
    overflow: scroll;
    text-align: right;
}

.dropdown-menu > li a {
    padding-right: 16px;
}

#themelist .disabled {
    font-style: italic;
    background-color: #C0C0C0;
}

/* Error message */
.error-message {
    display: none;
    color: red;
    font-style: italic;
    margin-top: 5px;
}

/* Confirmation message */
.confirmation-message {
    font-weight: bold;
    font-size: 15px;
}

/* Buttons */
.btn-md {
    border-radius: 5px;
    cursor: pointer;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.btn-md:hover, .btn-md:active {
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* Modal dialog for authorization */
#authorization-url-div {
    margin-bottom: 10px;
    font-weight: bold;
}
